* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Scrollbar */

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-light);
}

::-webkit-scrollbar-track {
    background: var(--color-lightmedium);
}

/* Typograpy */

body,
p {
    font-size: var(--font-size-4);
    font-family: var(--font-family-1);
    line-height: var(--line-height-1);
    color: var(--color-extralight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--weight-bold);
}

h1,
h2,
h3 {
    font-size: var(--font-size-5);
}

h4 {
    font-size: var(--font-size-4);
}

h5,
h6 {
    font-size: var(--font-size-3);
}

p {
    margin-bottom: var(--space-5);

    &:last-child {
        margin-bottom: 0;
    }
}

/* Link */

a {
    text-decoration: none;
    color: var(--color-accent1);
}

/* Media */

svg,
img,
embed,
object {
    display: block;
    max-width: 100%;
    height: auto;
}
