.debug {
    .app__top {
        background: blue;
    }

    .app__sidebar {
        background: green;
    }

    .app__sidebar-inner > div {
        background: lightgreen;
        height: 200px;
        margin-top: 16px;
    }

    .app__content {
        background: violet;
    }

    .app__header {
        background: yellow;
        height: 50px;
    }

    .app__main {
        background: pink;
    }

    .app__main-inner > div {
        background: lightpink;
        height: 50px;
        margin-top: 16px;
    }

    .app__bottom {
        background: red;
        height: 50px;
    }
}
