.app__sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    height: 100%;
    background-color: var(--color-extradark);
}

.app__sidebar-inner {
    overflow-y: auto;
    padding: 0 var(--space-5);
    height: 100%;
}

/* Main logo */

.main-logo {
    padding-top: var(--space-5);
    max-width: 130px;
}

/* Nav main */

.nav-main {
    margin-top: var(--space-6);
}

.nav-main ul {
    list-style-type: none;
}

.nav-main a {
    color: var(--color-light);
    font-weight: var(--weight-bold);
    font-size: var(--font-size-2);
    padding: var(--space-2) 0;
    display: flex;
    align-items: center;
    position: relative;
    transition: color 0.3s;
}

.nav-main .icon {
    width: 20px;
    height: 20px;
}

.nav-main li:first-child a:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    left: 0;
    left: calc(-1 * var(--space-5));
    border-left: 3px solid var(--color-accent1);
}

.nav-main li:first-child a {
    color: var(--color-extralight);
}

.nav-main a:hover {
    color: var(--color-extralight);
}

/* Playlist */

.playlist {
    margin-top: var(--space-6);
}

.playlist__title {
    text-transform: uppercase;
}

.playlist__new {
    display: inline-flex;
    align-items: center;
    font-weight: var(--weight-bold);
    color: var(--color-light);
    margin-top: var(--space-4);
    font-size: var(--font-size-3);
    transition: color 0.3s;
}

.playlist__new i {
    background-color: var(--color-light);
    color: var(--color-extradark);
    padding: var(--space-3);
    font-size: var(--font-size-4);
    margin-right: var(--space-3);
    transition: background-color 0.3s;
}

.playlist__new:hover {
    color: var(--color-extralight);
}

.playlist__new:hover i {
    background-color: var(--color-extralight);
}

.playlist__items ul {
    list-style-type: none;
}

.playlist__items ul a {
    display: inline-block;
    color: var(--color-light);
    font-weight: var(--weight-bold);
    font-size: var(--font-size-2);
    margin-top: var(--space-5);
    transition: color 0.3s;
}

.playlist__items ul a:hover {
    color: var(--color-extralight);
}

/* Install app */

.install-app a {
    display: table;
    margin: 0 auto;
    color: var(--color-light);
    font-weight: var(--weight-bold);
    font-size: var(--font-size-2);
    transition: color 0.3s;
}

.install-app i {
    font-size: var(--font-size-3);
}

.install-app a:hover {
    color: var(--color-extralight);
}

/* Profile */

.profile {
    margin-top: var(--space-3);
    padding-top: var(--space-3);
    padding-bottom: var(--space-5);
    display: flex;
    align-items: center;
    font-weight: var(--weight-bold);
    font-size: var(--font-size-3);
}

.profile .icon {
    background-color: var(--color-light);
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

/*
** Breakpoint: sm
*/

@media screen and (min-width: 638px) {
    .app__sidebar {
        width: 220px;
    }

    /* Nav main */

    .nav-main .icon {
        margin-right: var(--space-3);
    }

    /* Install app */

    .install-app a {
        display: flex;
        margin: 0;
        align-items: center;
    }

    .install-app i {
        margin-right: var(--space-3);
    }

    /* Profile */

    .profile {
        border-top: 1px solid var(--color-light);
    }

    .profile .icon {
        margin-right: var(--space-3);
    }
}
