html,
body,
.app {
    overflow: hidden;
    height: 100svh;
}

.app {
    display: flex;
    flex-direction: column;
}

/* Top */

.app__top {
    flex-grow: 1;
    overflow: hidden;
}

.app__top-inner {
    display: flex;
    height: 100%;
}

/* Sidebar */

.app__sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    width: 240px;
    height: 100%;
    background-color: var(--color-extradark);
}

.app__sidebar-inner {
    overflow-y: auto;
}

/* Content */

.app__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* Header */

.app__header {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: var(--color-dark);
    padding: var(--space-5) 0;
}

.app__header .button {
    border: 1px solid var(--color-extralight);
    border-radius: 25px;
    padding: var(--space-3) var(--space-6);
    font-size: var(--font-size-2);
    color: var(--color-extralight);
    text-transform: uppercase;
    font-weight: var(--weight-bold);
}

/* Main */

.app__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    background-color: var(--color-mediumdark);
}

.app__main-inner {
    overflow-y: auto;
    padding-bottom: var(--space-8);
}

/* Main - Nav categories */

.nav-categories {
    padding: var(--space-4) 0;
}

.nav-categories ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-categories li {
    margin: 0 var(--space-2);
}

.nav-categories li:first-child a::before {
    content: "";
    position: absolute;
    width: 30px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 2px solid var(--color-accent1);
}

.nav-categories a {
    display: block;
    position: relative;
    color: var(--color-light);
    font-weight: var(--weight-bold);
    padding: var(--space-1);
    text-transform: uppercase;
    font-size: var(--font-size-2);
    transition: color 0.3s;
}

.nav-categories a:hover,
.nav-categories a:focus,
.nav-categories a:active {
    color: var(--color-extralight);
}

/* Main - Cards */

.cards__subtitle {
    font-size: var(--font-size-2);
    font-weight: var(--weight-bold);
    margin-top: var(--space-2);
    color: var(--color-light);
}

.cards__card {
    margin-top: var(--space-6);
}

.cards__card-title {
    text-align: center;
    font-weight: var(--weight-bold);
    margin-top: var(--space-4);
}

.cards__card-subtitle {
    text-align: center;
    margin-top: var(--space-2);
    font-size: var(--font-size-2);
    font-weight: var(--weight-bold);
    color: var(--color-light);
}

/* Bottom  */

.app__bottom {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: var(--color-medium);
}
