html,
body,
.app {
    overflow: hidden;
    height: 100svh;
}

.app {
    display: flex;
    flex-direction: column;
}

/* App top */

.app__top {
    flex-grow: 1;
    overflow: hidden;
}

.app__top-inner {
    display: flex;
    height: 100%;
}

/* App bottom  */

.app__bottom {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: var(--color-medium);
}

.app__bottom-inner {
    padding: var(--space-6) var(--space-5);
}

/* Icons */

.icon {
    display: block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon--home {
    background-image: url("../img/home.svg");
}

.icon--search {
    background-image: url("../img/search.svg");
}

.icon--library {
    background-image: url("../img/libreria.svg");
}

.icon--profile {
    background-image: url("../img/profile.svg");
}
