/* Gutter */

.g-0 {
    --col-gutter-y: 0;
    --col-gutter-x: 0;
}

.gy-0 {
    --col-gutter-y: 0;
}

.gx-0 {
    --col-gutter-x: 0;
}

/* Margin */

.mt-4 {
    margin-top: var(--space-4);
}

.mt-6 {
    margin-top: var(--space-6);
}

.mt-7 {
    margin-top: var(--space-7);
}

/* Display */

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

/* Flex wrapping */

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

/* Flex positioning */

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

/* Radius */

.circle {
    border-radius: 100%;
    overflow: hidden;
}

/*
** Breakpoint: sm
*/

@media screen and (min-width: 638px) {
    /* Gutter */

    .g-sm-0 {
        --col-gutter-y: 0;
        --col-gutter-x: 0;
    }

    .gy-sm-0 {
        --col-gutter-y: 0;
    }

    .gx-sm-0 {
        --col-gutter-x: 0;
    }

    /* Margin */

    .mt-sm-4 {
        margin-top: var(--space-4);
    }

    .mt-sm-6 {
        margin-top: var(--space-7);
    }

    .mt-sm-7 {
        margin-top: var(--space-7);
    }

    /* Display */

    .d-sm-flex {
        display: flex;
    }

    .d-sm-block {
        display: block;
    }

    .d-sm-none {
        display: none;
    }

    /* Flex wrapping */

    .flex-sm-wrap {
        flex-wrap: wrap;
    }

    .flex-sm-nowrap {
        flex-wrap: nowrap;
    }

    /* Flex positioning */

    .justify-content-sm-between {
        justify-content: space-between;
    }

    .justify-content-sm-end {
        justify-content: flex-end;
    }

    .align-items-sm-center {
        align-items: center;
    }

    .align-items-sm-end {
        align-items: end;
    }
}

/*
** Breakpoint: md
*/

@media screen and (min-width: 878px) {
    /* Gutter */

    .g-md-0 {
        --col-gutter-y: 0;
        --col-gutter-x: 0;
    }

    .gy-md-0 {
        --col-gutter-y: 0;
    }

    .gx-md-0 {
        --col-gutter-x: 0;
    }

    /* Margin */

    .mt-md-4 {
        margin-top: var(--space-4);
    }

    .mt-md-6 {
        margin-top: var(--space-7);
    }

    .mt-md-7 {
        margin-top: var(--space-6);
    }

    /* Display */

    .d-md-flex {
        display: flex;
    }

    .d-md-block {
        display: block;
    }

    .d-md-none {
        display: none;
    }

    /* Flex wrapping */

    .flex-md-wrap {
        flex-wrap: wrap;
    }

    .flex-md-nowrap {
        flex-wrap: nowrap;
    }

    /* Flex positioning */

    .justify-content-md-between {
        justify-content: space-between;
    }

    .justify-content-md-end {
        justify-content: flex-end;
    }

    .align-items-md-center {
        align-items: center;
    }

    .align-items-md-end {
        align-items: end;
    }
}

/*
** Breakpoint: lg 
*/

@media screen and (min-width: 1440px) {
    /* Gutter */

    .g-lg-0 {
        --col-gutter-y: 0;
        --col-gutter-x: 0;
    }

    .gy-lg-0 {
        --col-gutter-y: 0;
    }

    .gx-lg-0 {
        --col-gutter-x: 0;
    }

    /* Margin */

    .mt-lg-6 {
        margin-top: var(--space-7);
    }

    .mt-lg-7 {
        margin-top: var(--space-6);
    }

    /* Display */

    .d-lg-flex {
        display: flex;
    }

    .d-lg-block {
        display: block;
    }

    .d-lg-none {
        display: none;
    }

    /* Flex wrapping */

    .flex-lg-wrap {
        flex-wrap: wrap;
    }

    .flex-lg-nowrap {
        flex-wrap: nowrap;
    }

    /* Flex positioning */

    .justify-content-lg-between {
        justify-content: space-between;
    }

    .justify-content-lg-end {
        justify-content: flex-end;
    }

    .align-items-lg-center {
        align-items: center;
    }

    .align-items-lg-end {
        align-items: end;
    }
}
